<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Laptops Page</h1>

    <div id="laptops_block">
        <% for(let i = 0; i < laptopsArray.length; i++){ %>
            <div class="block">
                <div class="text"> <b>Id:</b> <%= laptopsArray[i].id %> </div>
                <div class="text"> <b>Model:</b> <%= laptopsArray[i].model %> </div>
                <div class="text"> <b>Price:</b> <%= laptopsArray[i].price %> </div>
                <div class="text"> <b>Category name:</b> <%= laptopsArray[i].categoryName %> </div>     
            </div>
        <% } %>
    </div>
</body>
</html>