<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <% for(let i = 0; i < laptopsArray.length; i++){ %>
        <div class="block">
            <div class="text"> Id: <%= laptopsArray[i].id %> </div>
            <div class="text"> Model: <%= laptopsArray[i].model %> </div>
            <div class="text"> Price: <%= laptopsArray[i].price %> </div>
            <div class="text"> Category name: <%= laptopsArray[i].categoryName %> </div>     
        </div>
    <% } %>
</body>
</html>